# Group Work 1

## Q 02

### a)

In [1]:
import pandas as pd

In [2]:
path = '/Users/gabe/ML Bootcamp/Group work1-20230803T085142Z-001/Group work1/stdsscores.xls'
df = pd.read_excel(path)

In [3]:
df

      SN  Test1  Test2     UE    CA    FM Grade Remark
0    1.0   59.4   26.3   81.8  41.2  65.6     C   Pass
1    2.0   65.9   29.6  100.0  45.9  78.4     B   Pass
2    3.0   70.7   56.3   70.5  62.8  67.4     C   Pass
3    4.0   27.5   19.4   36.7  23.0  31.2     F   Fail
4    5.0   45.2   27.4   96.4  35.4  72.0     B   Pass
..   ...    ...    ...    ...   ...   ...   ...    ...
259  NaN    NaN    NaN    NaN   NaN   NaN     F   Fail
260  NaN    NaN    NaN    NaN   NaN   NaN     F   Fail
261  NaN    NaN    NaN    NaN   NaN   NaN     F   Fail
262  NaN    NaN    NaN    NaN   NaN   NaN     F   Fail
263  NaN    NaN    NaN    NaN  54.6  55.6     D   Fail

[264 rows x 8 columns]

In [4]:
# Convert 'Test1', 'Test2', 'CA', and 'UE' columns to numeric
numeric_columns = ['Test1', 'Test2', 'CA', 'UE']
df[numeric_columns] = df[numeric_columns].apply(pd.to_numeric, errors='coerce')

# Calculate Continuous Assessment (CA)
df['CA'] = (df['Test1'] * 0.45) + (df['Test2'] * 0.55)
df['CA'] = df['CA'].round(1)  # Round to 1 decimal place

# Calculate Final Mark (FM)
df['FM'] = (df['CA'] * 0.4) + (df['UE'] * 0.6)
# df['FM'] = (df['CA'] / 50) + (df['UE'] / 50)
df['FM'] = df['FM'].round(1)  # Round to 1 decimal place

In [5]:
# Define a function to determine the Grade based on the Final Mark
def get_grade(fm):
    if fm >= 80:
        return 'A'
    elif fm >= 70:
        return 'B'
    elif fm >= 60:
        return 'C'
    elif fm >= 50:
        return 'D'
    else:
        return 'F'

# Apply the get_grade function to the 'FM' column
df['Grade'] = df['FM'].apply(get_grade)

In [6]:
# Define a function to determine the Remark based on the Grade
def get_remark(grade):
    if grade == 'A':
        return 'Pass'
    elif grade == 'B':
        return 'Pass'
    elif grade == 'C':
        return 'Pass'
    elif grade == 'D':
        return 'Fail'
    else:
        return 'Fail'

# Apply the get_remark function to the 'Grade' column
df['Remark'] = df['Grade'].apply(get_remark)

In [7]:
# Append summary row at the bottom of the DataFrame
summary = df[['CA', 'FM']].mean().round(1).append(pd.Series({'Grade': '', 'Remark': ''}))
summary['Grade'] = get_grade(summary['FM'])
summary['Remark'] = get_remark(summary['Grade'])
summary.name = 'Summary'
df = df.append(summary)

# Save the DataFrame back to Excel
# df.to_excel(path, index=False)

/var/folders/c6/2s1pssz95z92ddtnxkgtzj3c0000gn/T/ipykernel_22309/2481109994.py:2: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  summary = df[['CA', 'FM']].mean().round(1).append(pd.Series({'Grade': '', 'Remark': ''}))
/var/folders/c6/2s1pssz95z92ddtnxkgtzj3c0000gn/T/ipykernel_22309/2481109994.py:6: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(summary)

In [8]:
df

          SN  Test1  Test2     UE    CA    FM Grade Remark
0        1.0   59.4   26.3   81.8  41.2  65.6     C   Pass
1        2.0   65.9   29.6  100.0  45.9  78.4     B   Pass
2        3.0   70.7   56.3   70.5  62.8  67.4     C   Pass
3        4.0   27.5   19.4   36.7  23.0  31.2     F   Fail
4        5.0   45.2   27.4   96.4  35.4  72.0     B   Pass
...      ...    ...    ...    ...   ...   ...   ...    ...
260      NaN    NaN    NaN    NaN   NaN   NaN     F   Fail
261      NaN    NaN    NaN    NaN   NaN   NaN     F   Fail
262      NaN    NaN    NaN    NaN   NaN   NaN     F   Fail
263      NaN    NaN    NaN    NaN   NaN   NaN     F   Fail
Summary  NaN    NaN    NaN    NaN  54.6  55.6     D   Fail

[265 rows x 8 columns]

### b)

In [9]:
# Calculate Minimum, Maximum, and Average
min_max_avg = df[['Test1', 'Test2', 'CA', 'UE', 'FM']].agg(['min', 'max', 'mean']).round({'FM': 2})
print(min_max_avg)

        Test1    Test2         CA        UE     FM
min   10.2000  10.3000  11.600000   10.1000  17.50
max   99.8000  99.4000  95.000000  100.0000  93.30
mean  54.1336  54.9564  54.586853   56.2512  55.59

### c)

In [10]:
# Calculate the number of students who passed (Grade not equal to 'F')
passed_students = df[df['Grade'] != 'F'].shape[0]
failed_students = df[df['Grade'] == 'F'].shape[0]

print("Students who passed are: " + str(passed_students))
print("Students who failed are: " + str(failed_students))

Students who passed are: 155
Students who failed are: 110

### d)

In [11]:
# Statistical summary of Grades
grade_summary = df['Grade'].value_counts().sort_index()

In [12]:
grade_summary

A     21
B     40
C     41
D     53
F    110
Name: Grade, dtype: int64

### e)

In [13]:
# Create a copy of the DataFrame and sort it by 'FM' in descending order
sorted_df = df.copy()
sorted_df = sorted_df.sort_values(by='FM', ascending=False)

In [14]:
sorted_df

        SN  Test1  Test2    UE    CA    FM Grade Remark
196  197.0   77.8   99.4  95.7  89.7  93.3     A   Pass
228  229.0   86.9   97.6  90.9  92.8  91.7     A   Pass
112  113.0   78.5   82.2  97.7  80.5  90.8     A   Pass
165  166.0   87.5   68.8  96.6  77.2  88.8     A   Pass
10    11.0   84.5   78.7  93.4  81.3  88.6     A   Pass
..     ...    ...    ...   ...   ...   ...   ...    ...
259    NaN    NaN    NaN   NaN   NaN   NaN     F   Fail
260    NaN    NaN    NaN   NaN   NaN   NaN     F   Fail
261    NaN    NaN    NaN   NaN   NaN   NaN     F   Fail
262    NaN    NaN    NaN   NaN   NaN   NaN     F   Fail
263    NaN    NaN    NaN   NaN   NaN   NaN     F   Fail

[265 rows x 8 columns]

## Q 01

In [15]:
import girlsnames_file

### a)

In [16]:
length = len(girlsnames_file.girlsnames)
print(length)

200

### b) i)

In [17]:
# Display the first 5 names
first_names = girlsnames_file.girlsnames[:5]
print(first_names)
print("First 5 names: " + ', '.join(first_names))

['Emily', 'Madison', 'Emma', 'Olivia', 'Hannah']
First 5 names: Emily, Madison, Emma, Olivia, Hannah

### b) ii)

In [18]:
# Display the last 5 names
last_names = girlsnames_file.girlsnames[-5:]
print(last_names)
print("Last 5 names: " + ', '.join(last_names))

['Adrianna', 'Karina', 'Delaney', 'Ellie', 'Jasmin']
Last 5 names: Adrianna, Karina, Delaney, Ellie, Jasmin

### c)

In [19]:
# Find the length of the shortest name
shortest_length = min(len(name) for name in girlsnames_file.girlsnames)

# Create a list of shorest names
shortest_names = [name for name in girlsnames_file.girlsnames if len(name) == shortest_length]

# Display the list of shortest names
print("Shortest names:", shortest_names)

Shortest names: ['Ava', 'Mia', 'Zoe', 'Mya', 'Amy', 'Ana', 'Eva']

### d)

In [20]:
# Find the length of the longest name
longest_length = max(len(name) for name in girlsnames_file.girlsnames)

# Create a list of longest names
longest_names = [name for name in girlsnames_file.girlsnames if len(name) == longest_length]

# Display the list of longest names
print("Longest names:", longest_names)

Longest names: ['Jacqueline', 'Alexandria']

### e) i)

In [21]:
while True:
    ename = input("Enter a name or press ENTER to exit: ").strip()

    if not ename:
        print("Sorry, please specify the name.")
        continue
        
    matching_names = [name for name in girlsnames_file.girlsnames if name.lower() == ename.lower()]
    length_matching_names = len(matching_names)

    if length_matching_names == 0:
        print(f"Entered name '{ename}' does not exist in the list.")
        break
    else:
        print(f"There are {length_matching_names} names that match '{ename}'.")
        break

Enter a name or press ENTER to exit:  gRace

There are 1 names that match 'gRace'.

### e) ii)

In [22]:
while True:
    ename = input("Enter a name or press ENTER to exit: ").strip()

    if not ename:
        print("Sorry, please specify the name.")
        continue
        
    matching_names = [name for name in girlsnames_file.girlsnames if name.lower() == ename.lower()]
    length_matching_names = len(matching_names)

    if length_matching_names == 0:
        print(f"Entered name '{ename}' does not exist in the list.")
        break
    else:
        print(f"There are {length_matching_names} names that match '{ename}'.")
        break

Enter a name or press ENTER to exit:  Kaboya

Entered name 'Kaboya' does not exist in the list.

### e) iii)

In [23]:
while True:
    ename = input("Enter a name or press ENTER to exit: ").strip()

    if not ename:
        print("Sorry, please specify the name.")
        continue
        
    matching_names = [name for name in girlsnames_file.girlsnames if name.lower() == ename.lower()]
    length_matching_names = len(matching_names)

    if length_matching_names == 0:
        print(f"Entered name '{ename}' does not exist in the list.")
        break
    else:
        print(f"There are {length_matching_names} names that match '{ename}'.")
        break

Enter a name or press ENTER to exit:  emMA

There are 1 names that match 'emMA'.

### e) iv)

In [24]:
while True:
    ename = input("Enter a name or press ENTER to exit: ").strip()

    if not ename:
        print("Sorry, please specify the name.")
        continue
        
    matching_names = [name for name in girlsnames_file.girlsnames if name.lower() == ename.lower()]
    length_matching_names = len(matching_names)

    if length_matching_names == 0:
        print(f"Entered name '{ename}' does not exist in the list.")
        break
    else:
        print(f"There are {length_matching_names} names that match '{ename}'.")
        break

Enter a name or press ENTER to exit:  eliza

Entered name 'eliza' does not exist in the list.

### e) v)

In [25]:
while True:
    ename = input("Enter a name or press ENTER to exit: ").strip()

    if not ename:
        print("Sorry, please specify the name.")
        continue
        
    matching_names = [name for name in girlsnames_file.girlsnames if name.lower() == ename.lower()]
    length_matching_names = len(matching_names)

    if length_matching_names == 0:
        print(f"Entered name '{ename}' does not exist in the list.")
        break
    else:
        print(f"There are {length_matching_names} names that match '{ename}'.")
        break

Enter a name or press ENTER to exit:

Sorry, please specify the name.

Enter a name or press ENTER to exit:

Sorry, please specify the name.

Enter a name or press ENTER to exit:

Sorry, please specify the name.

Enter a name or press ENTER to exit:

Sorry, please specify the name.

Enter a name or press ENTER to exit:

Sorry, please specify the name.

Enter a name or press ENTER to exit:  oi

Entered name 'oi' does not exist in the list.

### e) alternative

In [26]:
while True:
    ename = input("Enter a name or press ENTER to exit: ").strip()

    if not ename:
        print("Sorry, please specify the name.")
        continue

    matching_names = [name for name in girlsnames_file.girlsnames if name.lower() == ename.lower()]

    if matching_names:
        print(f"Number of names matching '{ename}':  {len(matching_names)}" )
    else:
        print(f"Entered name '{ename}' does not exist in the list.")
        break

Enter a name or press ENTER to exit:  e

Entered name 'e' does not exist in the list.

### f)

In [27]:
while True:
    entered_letter = input("Enter a letter or press ENTER to exit: ").strip().lower()

    if not entered_letter:
        print("Program terminated.")
        break

    if len(entered_letter) > 1:
        entered_letter = entered_letter[0]

    if 'a' <= entered_letter <= 'z':
        matching_names = sorted([name for name in girlsnames_file.girlsnames if name.startswith(entered_letter.capitalize())], reverse=True)

        if matching_names:
            print("Names: " + ', '.join(matching_names))
        else:
            print(f"No name starts with the letter '{entered_letter}'.")
    else:
        print(f"Entered letter '{entered_letter}' is not in the range, try again.")

Enter a letter or press ENTER to exit:  d

Names: Diana, Destiny, Delaney, Danielle, Daniela, Daisy

Enter a letter or press ENTER to exit:  s

Names: Sydney, Summer, Stephanie, Sophie, Sophia, Sofia, Skylar, Sierra, Shelby, Serenity, Savannah, Sarah, Sara, Samantha, Sadie, Sabrina

Enter a letter or press ENTER to exit:  f

Names: Faith

Enter a letter or press ENTER to exit:  r

Names: Rylee, Ruby, Riley, Rebecca, Reagan, Rachel

Enter a letter or press ENTER to exit:  e

Names: Evelyn, Eva, Erin, Erica, Emma, Emily, Ellie, Ella, Elizabeth

Enter a letter or press ENTER to exit:

Program terminated.

## Q 03

In [28]:
import stdsscores_file

### a)

In [29]:
# Display the number of students in the list
num_students = len(stdsscores_file.stdsscores)
print(f"Number of students: {num_students}")

Number of students: 250

### b)

In [30]:
# Create a copy of stdsscores list and display the last 5 records from fscores
fscores = stdsscores_file.stdsscores.copy()
print("Last 5 records from fscores:")
for value in fscores[-5:]:
    print(value)

Last 5 records from fscores:
[246, 25.5, 48.4, 44.3]
[247, 73, 31, 88.7]
[248, 79.1, 65.3, 98.4]
[249, 50.6, 65.7, 87]
[250, 41.6, 68.5, 94.2]

### c)

In [31]:
# Calculate CA, FM, Grade, and Remark for each student and update fscores
for value in fscores:
    sn, test1, test2, ue = value
    ca = (test1 * 0.45) + (test2 * 0.55)
    fm = (ca / 50) + (ue / 50)
    grade = 'A' if fm >= 80 else 'B' if fm >= 70 else 'C' if fm >= 60 else 'D' if fm >= 50 else 'E'
    remark = 'Pass' if grade != 'E' else 'Fail'
    value.extend([ca, round(fm, 1), grade, remark])

print("\nFirst 5 records from fscores:")
for value in fscores[:5]:
    print(value)

First 5 records from fscores:
[1, 59.4, 26.3, 81.8, 41.195, 2.5, 'E', 'Fail']
[2, 65.9, 29.6, 100, 45.935, 2.9, 'E', 'Fail']
[3, 70.7, 56.3, 70.5, 62.78, 2.7, 'E', 'Fail']
[4, 27.5, 19.4, 36.7, 23.045, 1.2, 'E', 'Fail']
[5, 45.2, 27.4, 96.4, 35.410000000000004, 2.6, 'E', 'Fail']

### d)

In [33]:
# Display minimum, maximum, and average for Test1, Test2, CA, UE, and FM
columns = ['Test1', 'Test2', 'CA', 'UE', 'FM']
print("\nMinimum\tMaximum\tAverage")
for column in columns:
    values = [value[columns.index(column) + 1] for value in fscores]
    minimum = min(values)
    maximum = max(values)
    average = sum(values) / len(values)
    print(f"{minimum:.2f}\t{maximum:.2f}\t{average:.2f}")

Minimum	Maximum	Average
10.20	99.80	54.13
10.30	99.40	54.96
10.10	100.00	56.25
11.65	94.98	54.59
0.80	3.70	2.22

### e)

In [34]:
# Display student(s) with lowest and highest FM
lowest_fm = min(fscores, key=lambda record: record[5])[0]
highest_fm = max(fscores, key=lambda record: record[5])[0]
print(f"\nStudent(s) with lowest FM: {lowest_fm}")
print(f"Student(s) with highest FM: {highest_fm}")

Student(s) with lowest FM: 41
Student(s) with highest FM: 197

### f)

In [35]:
# Create a dictionary gradesSummary
grades_summary = {}
for value in fscores:
    grade = value[7]  # Grade is at index 7
    if grade in grades_summary:
        grades_summary[grade] += 1
    else:
        grades_summary[grade] = 1

print("\nGrades Summary:")
for grade, count in grades_summary.items():
    print(f"{grade}: {count}")

Grades Summary:
Fail: 250

### g)

In [38]:
# Display grade(s) with the highest and lowest number of students
lowest_grade_count = min(grades_summary.values())
highest_grade_count = max(grades_summary.values())
lowest_grades = [grade for grade, count in grades_summary.items() if count == lowest_grade_count]
highest_grades = [grade for grade, count in grades_summary.items() if count == highest_grade_count]

print(f"\nGrade(s) with the lowest number of students are: {', '.join(lowest_grades)} and number of students is: {lowest_grade_count}")
print(f"Grade(s) with the highest number of students are: {', '.join(highest_grades)} and number of students is: {highest_grade_count}")

Grade(s) with the lowest number of students are: Fail and number of students is: 250
Grade(s) with the highest number of students are: Fail and number of students is: 250

### h)

In [39]:
# Display record of a student whose S/N is specified from the Keyboard
sn_to_search = int(input("\nEnter the serial number to search: "))
found = False
for record in fscores:
    if record[0] == sn_to_search:
        print(f"Record found: {record}")
        found = True
        break

if not found:
    print("Wrong entry! Valid ranges are ... up to ..... try again.")

Enter the serial number to search:  76

Record found: [76, 95.3, 76.9, 32.4, 85.18, 2.4, 'E', 'Fail']

### i)

In [40]:
# Add a new student record to fscores
new_student = [sn_to_search + 1, 45.6, 76.4, 65.5]
fscores.append(new_student)

print("\nLast records from fscores after adding the new student:")
for value in fscores[-5:]:
    print(value)

Last records from fscores after adding the new student:
[247, 73, 31, 88.7, 49.900000000000006, 2.8, 'E', 'Fail']
[248, 79.1, 65.3, 98.4, 71.50999999999999, 3.4, 'E', 'Fail']
[249, 50.6, 65.7, 87, 58.905, 2.9, 'E', 'Fail']
[250, 41.6, 68.5, 94.2, 56.39500000000001, 3.0, 'E', 'Fail']
[77, 45.6, 76.4, 65.5]

### j)

In [44]:
# Display the top 5 students based on FM
fm_dict = {value[0]: value[5] for value in fscores}
print("fm_dict:", fm_dict)

fm_list_2d = [[fm, sn] for sn, fm in fm_dict.items()]
print("fm_list_2d:", fm_list_2d)

# Print the contents of fscores to understand its structure
print("Contents of fscores:")
for record in fscores:
    print(record)

fm_list_2d_sorted = sorted(fm_list_2d, reverse=True)
print("fm_list_2d_sorted:", fm_list_2d_sorted)

print("\nTop 5 students based on FM:")
for fm, sn in fm_list_2d_sorted[:5]:
    print(f"SN {sn} FM {fm:.1f}")

IndexError: list index out of range